pyparsing
pyyaml
kiui  
torch_sparse
cholespy
matplotlib 
dearpygui
adabound 
compress_pickle
hickle
sk-video
scikit-learn 
facenet-pytorch
torchmetrics 
munch 
termcolor
dlib
torchfile
omegaconf
wandb
mediapipe
numpy==1.23.1
torch_scatter
face_alignment
trimesh
tensorboard
click
pytz 
dlib 
accelerate
dominate
kornia
onnxruntime_gpu 
coloredlogs
imgaug
pymeshlab
xatlas
pyarrow
Ninja
rembg
pandas
transformers==4.44.2
diffusers==0.27.2  
imageio-ffmpeg==0.4.7 
huggingface_hub==0.24.6
git+https://github.com/facebookresearch/pytorch3d.git  
git+https://github.com/NVlabs/nvdiffrast.git
git+https://github.com/mattloper/chumpy.git  
git+https://github.com/ashawkey/cubvh.git 
git+https://github.com/TingtingLiao/smplx.git  
git+https://github.com/TingtingLiao/deep3dface.git 
